@use './variables' as *;
@use './mixins' as *;

@font-face {
	font-family: 'AvenirNext LT Pro';
	src: url('../../public/Fonts/converted-fonts/AvenirNextLTPro-Bold.woff2') format('woff2'),
		url('../../public/Fonts/converted-fonts/AvenirNextLTPro-Bold.woff') format('woff'),
		url('../../public/Fonts/converted-fonts/AvenirNextLTPro-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'AvenirNext LT Pro';
	src: url('../../public/Fonts/converted-fonts/AvenirNextLTPro-Demi.woff2') format('woff2'),
		url('../../public/Fonts/converted-fonts/AvenirNextLTPro-Demi.woff') format('woff'),
		url('../../public/Fonts/converted-fonts/AvenirNextLTPro-Demi.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'AvenirNext LT Pro';
	src: url('../../public/Fonts/converted-fonts/AvenirNextLTPro-Medium.woff2') format('woff2'),
		url('../../public/Fonts/converted-fonts/AvenirNextLTPro-Medium.woff') format('woff'),
		url('../../public/Fonts/converted-fonts/AvenirNextLTPro-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'AvenirNext LT Pro';
	src: url('../../public/Fonts/converted-fonts/AvenirNextLTPro-Heavy.woff2') format('woff2'),
		url('../../public/Fonts/converted-fonts/AvenirNextLTPro-Heavy.woff') format('woff'),
		url('../../public/Fonts/converted-fonts/AvenirNextLTPro-Heavy.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'AvenirNext LT Pro';
	src: url('../../public/Fonts/converted-fonts/AvenirNextLTPro-Regular.woff2') format('woff2'),
		url('../../public/Fonts/converted-fonts/AvenirNextLTPro-Regular.woff') format('woff'),
		url('../../public/Fonts/converted-fonts/AvenirNextLTPro-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'AvenirNext LT Pro';
	src: url('../../public/Fonts/converted-fonts/AvenirNextLTPro-Light.woff2') format('woff2'),
		url('../../public/Fonts/converted-fonts/AvenirNextLTPro-Light.woff') format('woff'),
		url('../../public/Fonts/converted-fonts/AvenirNextLTPro-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'AvenirNext LT Pro';
	src: url('../../public/Fonts/converted-fonts/AvenirNextLTPro-Thin.woff2') format('woff2'),
		url('../../public/Fonts/converted-fonts/AvenirNextLTPro-Thin.woff') format('woff'),
		url('../../public/Fonts/converted-fonts/AvenirNextLTPro-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

html,
body {
	@include spacing-reset;
	font-family: 'AvenirNext LT Pro';
	font-size: 16px;
}

h1 {
	font-size: 1.5rem;
	line-height: 2rem;
	font-weight: 700;

	@include tablet {
		font-size: 2.25rem;
		line-height: 2.75rem;
	}
}

h2 {
	font-size: 1rem;
	line-height: 1.375rem;

	@include tablet {
		font-size: 1.5rem;
		line-height: 2rem;
		font-weight: 600;
	}
}

h3 {
	font-size: 0.875rem;
	line-height: 1.25rem;
	font-weight: 600;
}

p,
h4 {
	font-size: 0.8125rem;
	line-height: 1.125rem;

	@include tablet {
		font-size: 0.875rem;
		line-height: 1.375rem;
	}
}

h5 {
	font-size: 0.75rem;
	line-height: 1.25rem;
}

h1,
h2,
h3,
h4,
h5,
p {
	font-family: 'AvenirNext LT Pro';
	@include spacing-reset;
	color: $color-black;
}
