// Primary colors

$primary-color: #8a2be2;
$accent-color: #b19cd9;
$color-black: #323232;
$light-grey: #f7f7f7;

$border-radius: 6px;
$box-shadow: 0 3px 10px rgb(0 0 0 / 10%);

// Queries
$tablet: 767px;
$desktop: 1080px;
$monitor: 1300px;
